#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tribute-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 300px;
    
}