body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 100%;
  background-color: rgb(255, 246, 236);
  line-height: 1.2;
}
#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 1rem 4rem;
  padding: 2rem;
  border-radius: 0.9rem;
}

#tribute-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 300px;
}
#image {
  align-content: center;
  max-width: 100%;
  display: block;
  height: auto;
}
.citation {
  font-style: italic;
  color: rgb(110, 110, 110);
  text-align: center;
  width: 60%;
  margin: 5rem auto 0 auto;
}
button {
  outline: none;
  margin-top: 1rem;
  padding: 0.5rem;
  text-align: center;
  margin: 0 auto;
  width: 7%;
  border: none;
  background-color: rgb(252, 164, 64);
  border-radius: 2rem;
  animation: transform 1s ease-in-out;
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
button a {
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
  width: 100%;
  height: 1000%;
}
